html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************END RESET***********************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
	height: 100%;
}

body {
	background:#FEFEFE;
	color:#444;
	font:62.5% /1.5 Helvetica, Arial,sans-serif;
	line-height:1.5;
	text-align:center;
	background-color:#e6e6e6;
}

a {
	text-decoration: none; padding:3px; color: #1B3A6D;
}

a:hover{
	text-decoration:underline;
}

em {
    font-size:11px;
}

p {
    padding:5px;
    font-size:18px;
}
div#container {
	font-size:1.2em;
	height:auto !important;
	margin:0 auto;
	min-height:700px;
	text-align:left;
	width:950px;
	border:0px solid #ccc;
	overflow:hidden;
	background-color:#e6e6e6;
}

div#content {
	float:left;
	padding:10px;
	width:950px;
	border:0px solid #ccc;	
}


.box-left, .box-right {
    border:0px solid red;
    margin:15px;
    width:410px;
    height:300px;
    padding:10px;

}

.box-left {
    float:left;
}

.box-right {
    float:right;
}

#about {
    background:#1A1E1C; color: #fff;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topright:50px;
    -webkit-border-bottom-left-radius:50px;
    -moz-border-radius-bottomleft:50px;        
}

#logo {
    -webkit-border-top-left-radius: 50px;
    -moz-border-radius-topleft:50px;
    -webkit-border-bottom-right-radius:50px;
    -moz-border-radius-bottomright:50px;
    background:#fff;

}

#contact {
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topright:50px;
    -webkit-border-bottom-left-radius:50px;
    -moz-border-radius-bottomleft:50px;
    background:#BE2D64; color:#fff;
}

#program {
    -webkit-border-top-left-radius: 50px;
    -moz-border-radius-topleft:50px;
    -webkit-border-bottom-right-radius:50px;
    -moz-border-radius-bottomright:50px;
    background-color:#F9ECF3; color:#BE2D64;
}

.box-nav-big {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:3.5em;
  font-weight:bold;
  position:relative;
  border:0px solid red;
  top:32%;
  text-align:center;
  width:100%;
}

.box-nav-big a {
    color:#434343!important;
    font-weight: 300;
}

.box-nav-big a:hover {
    text-decoration:none;
}


.slide {
    width:380px;
    height:300px;
    margin:10px;
    border:0px solid red;
}

.box-light-pink {
    
}

#contact-box, #program-box, #about-box, #logo-box {
    height: 220px;
    padding:0px;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:2em;
}

.label {
    color:#111!important;
    font-weight:bold;
    display:inline-block;        
}

#contact .label {
    width:120px;
}

#program .label {
    width:120px;
}

#about .label {
    color:#eaeaea!important;
}

.p-inner{
    margin-left:10px;
}

.p-title {
  padding:0;
    font-size:1.3em;
    text-transform: uppercase;
}
.p-title strong {
    font-weight: 300;
}
    
.hide {display: none;}

.profile-picture {
    width:160px;
    height:160px;
    border-radius: 50%;
    margin-top:20px;
}

#google-maps {
    height: 100%;
    padding: 0px;
    width:100%;
}



